<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zk.dao.UserDao">

    <!-- 开启二级缓存，默认未开启 -->
    <cache type="org.mybatis.caches.memcached.MemcachedCache"/>

    <select id="findById" parameterType="int" resultType="org.zk.model.User">
        select * from tb_user where id = #{id}
    </select>

    <update id="update" parameterType="org.zk.model.User">
        update tb_user
        set username=#{username}
        where id=#{id}
    </update>


</mapper>